---
- name: change hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
    use: debian

- name: Set timezone to Asia/Tokyo.
  community.general.timezone:
    name: Asia/Tokyo

- name: Add user
  ansible.builtin.user:
    name: "{{ new_username }}"
    shell: /bin/bash
    state: present
    createhome: yes

- name: Set authorized key taken from file
  ansible.posix.authorized_key:
    user: "{{ new_username }}"
    state: present
    key: "{{ lookup('file', ansible_ssh_private_key_file + '.pub') }}"

- name: Grant sudo access to the user
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    insertafter: EOF
    line: "{{ new_username }} ALL=(ALL:ALL) NOPASSWD:ALL"
    validate: 'visudo -cf %s'