---
- name: is vnstat tar.gz file available?
  delegate_to: localhost
  ansible.builtin.stat:
    path: "{{ vnstat_conf_path }}"
  register: db_file

- name: expand vnstat tar.gz if it exists on vps
  become: yes
  ansible.builtin.unarchive:
    src: "{{ vnstat_conf_path }}"
    dest: /var/lib/
    # extra_opts: [--same-owner]
  when: db_file.stat.exists