---
all:

<provider name1>:
  hosts:
    <hostname>:
      ansible_host: <host ip address>
      BW_ID: # push id for uptime kuma bw monitor
      DF_ID: # push id for uptime kuma df monitor
      TS_ID: # push id for uptime kuma tailscale monitor

<provider name2>:
  hosts:
    <hostname>:
      ansible_host: <host ip address>
      BW_ID: # push id for uptime kuma bw monitor
      DF_ID: # push id for uptime kuma df monitor
      TS_ID: # push id for uptime kuma tailscale monitor

<provider name3>:
  hosts:
    <hostname>:
      ansible_host: <host ip address>
      BW_ID: # push id for uptime kuma bw monitor
      DF_ID: # push id for uptime kuma df monitor
      TS_ID: # push id for uptime kuma tailscale monitor

vps: # include VPS providers that should use "root" user for "init" play.
  children:
    <provider name1>:
    <provider name2>:

openvz: # include OpenVZ VPS providers as it needs extra options for reboot
  children:
    <provider name2>: